html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: black;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#myButton {
  padding: 12px 20px;
  font-size: 16px;
  background-color: #00ffcc;
  color: black;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#myButton:hover {
  background-color: #00ccaa;
}
